<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" class="menuicon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="menutitle">Address Book</span>
  <a mat-button class="top-menu-item" routerLink="/"> <mat-icon>home</mat-icon>Home</a>
  <a mat-button class="top-menu-item" routerLink="/contract"><mat-icon>people</mat-icon> Contract</a>
  <a mat-button class="top-menu-item" routerLink="/newcontract"> <mat-icon>person_add</mat-icon> New Contract</a>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="64" mode="side" opened>
    <div class="side-nav-items">

      <div>
        <a (click)="sidenav.close()" mat-button class="side-menu-item" routerLink="/"><mat-icon>home</mat-icon>Home</a>
      </div>

      <div>
        <a (click)="sidenav.close()" mat-button class="side-menu-item" routerLink="/contract"><mat-icon>people</mat-icon> Contract</a>
      </div>

      <div>
        <a (click)="sidenav.close()" mat-button class="side-menu-item" routerLink="/newcontract"><mat-icon>person_add</mat-icon>New Contract</a>
      </div>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet> 
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <router-outlet></router-outlet> -->